
{if $action eq 'addshop'}
  <div class="title">
    <h1>我的菜篮子</h1>
    <span class="weight">共：{$z_weight}斤</span> <span class="address">配送地点：
    <select name="psAddress" id="psAddress" onchange="changeAddress(this)">
      <option value="-1">选择配送地点</option>
      {foreach from=$shipping_area item=area}
      <option value="{$area.shipping_area_id}" {if $area.shipping_area_id==$order_taocan.peisong_area_id}selected="selected"{/if}>{$area.shipping_area_name}</option>
      {/foreach}
    
    </select>
    </span>  </div>
  <div class="myclz" id="mycl">
    <ul>
      {foreach from=$basket_list item=item}
      <li style="background-color:{$bgcolor}"><a class="title">{$item.goods_name}</a><span onclick="listTable.edit(this, 'edit_mygood_num', {$item.basket_id})" title="点击修改内容" >{$item.weigth}</span>斤 <span class="del" onclick="listTable.delshop({$item.basket_id})">×</span> </li>
      {foreachelse}
      你的菜篮里还没有菜，快去挑选吧
      {/foreach}
    </ul>

  </div>
{/if}

{if $action eq 'gettaocan'}
  
 
  
    <ul class="goods_list_taocan" >
      {foreach from=$goods_taocan_list item=goods}
      <li> <a class="pic" href="#"><img width="120" height="120" alt="" src="/{$goods.goods_thumb}" /></a> <a class="title" href="">{$goods.goods_name|escape:html}</a>
        <div class="info"><span class="price">{$goods.shop_price}</span><span class="kc">{$goods.weigth }斤</span></div>
        <div class="select"> <b></b> <span>
          <dl>
            <dt><a href="#" onclick="addshop({$goods.goods_id},1);">0.5斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},2);">1斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},3);">1.5斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},4);">2斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},5);">2.5斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},6);">3斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},8);">4斤</a></dt>
            <dt><a href="#" onclick="addshop({$goods.goods_id},10);">5斤</a></dt>
            <dt class="zdy">自定义
              <input type="text" size="6" />
            </dt>
          </dl>
          </span> </div>
      </li>
      {foreachelse}
      {$lang.no_records}
      {/foreach}
      <div class="clear"></div>
    </ul>
  
 
{/if}
